<div class="container-fluid a">
  <div class="top-part">
    <br><br><br>
    <h1 class="catch">Discover why the ritchest people in the world are not milloners,
  <br> They are Volunteers</h1>
  </div>
  <div class="why">
    <div class="container">
      <h2 id="whyv">Why volunteer?.. Because it's Awesome!</h2>
      <div class="row">
        <div class="moja col-md-6">
          <br><br>
          <h3 id="moja">From compassion to action.</h3>
        </div>
        <div class="col-md-1"></div>
        <div class="mbili col-md-4">
          <br><br>
          <h3 id="mbili">Volunteers make <br>each day brigher</h3>
        </div>
      </div>
      <div class="row">
        <div class="tatu col-md-4">
          <br><br>
          <h3 id="tatu">A gift to <br> the community</h3>
        </div>
        <div class="col-md-1"></div>
        <div class="nne col-md-6">
          <br><br>
          <h3 id="nne">The heart <br> of the community</h3>
        </div>
      </div><br>
      <div class="row">
        <div class="tano col-md-11">
          <h3 id="tano">We have the the cause, <br> you have the effect</h3>
        </div>
      </div>
    </div>
  </div><br><br>
</div>
<div class="container-fluid b">
  <div class="conatiner">
    <h1 id="get-started">Get started in minutes!</h1>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="kato">
        <%= image_tag ('download.png'), id:"shrink"%><br>
          <%= image_tag ('one.png')%>
               <h2>Sign Up as a volunteer</h2>
        </div>
        <div class="kato row">
          <div class="col-md-6 email">
            <%= image_tag('email.png', id:"expand")%><br>
            <%=image_tag('two.png') %>
            <h3>Check your email and confirm your account</h3>
          </div>
          <div class="col-md-6"></div>
          <br><br><br><br><br><br><br><br><br><br>
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <%= image_tag('login.png', id:"shrink")%><br>
            <%=image_tag('three.png') %>
            <h3>Log in to your account</h3>
          </div><br>
          <div class="col-md-6"><br><br><br><br><br><br>
            <%= image_tag('view.png', id:"expand")%><br>
            <%=image_tag('four.png') %>
            <h3>View jobs and volunteer!</h3>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="vl col-md-1"></div>
      <hr id="sm">
      <div class="box col-md-4">
        <div class="kato">
          <%= image_tag ('download.png'), id:"shrink"%><br>
            <%= image_tag ('one.png')%>
                 <h2>Sign Up as a Job provider</h2>
        </div>
        <div class="kato row">
          <div class="col-md-6 email">
            <%= image_tag('email2.png', id:"expand")%><br>
            <%=image_tag('two.png') %>
            <h3>Check your email and confirm your account</h3>
          </div>
          <div class="col-md-6"></div>
          <br><br><br><br><br><br><br><br><br><br>
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <%= image_tag('login.png', id:"shrink")%><br>
            <%=image_tag('three.png') %>
            <h3>Log in to your account</h3>
          </div><br>
          <div class="col-md-6"><br><br><br><br><br><br>
            <%= image_tag('post.png', id:"shrink")%><br>
            <%=image_tag('four.png') %>
            <h3>Post jobs!</h3>
          </div>
        </div>
      </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
