<!DOCTYPE html>
<html>
  <head>
    <title>KindnessCrew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Patua+One|Ranchers|Shrikhand|Vollkorn+SC" rel="stylesheet">
  </head>

  <body>

<% unless flash.empty? %>
     <script type="text/javascript">
          <% flash.each do |f| %>
	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
	     	 toastr['<%= type %>']('<%= f[1] %>');
	   <% end %>
     </script>
<% end %>

    <%= yield %>
    <% if volunteer_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_volunteer_session_path, method: :delete) %>
  </li>
<% else %>
<% if employer_signed_in? %>
<li>
<%= link_to('Logout', destroy_employer_session_path, method: :delete) %>
</li>
<% end %>
<% end %>

<!-- <% if !volunteer_signed_in? & !employer_signed_in? %>
<div class="container">
<div class="col-md-3 moja">
    <%= link_to('Login As Volunteer', new_volunteer_session_path, class:"btn btn-default")  %>
</div>
    <div class="col-md-3 mbili">
      <%= link_to('Login As Job Provider', new_employer_session_path, class:"btn btn-default")  %>
    </div>
</div>
  <% end %> -->

  </body>
</html>
