<!DOCTYPE html>
<html>
  <head>
    <title>KindnessCrew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if volunteer_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_volunteer_session_path, method: :delete) %>
  </li>
<% else %>
<% if employer_signed_in? %>
<li>
<%= link_to('Logout', destroy_employer_session_path, method: :delete) %>
</li>
<% end %>
<% end %>

<% if !volunteer_signed_in? & !employer_signed_in? %>
<li>
  <%= link_to('Login As Volunteer', new_volunteer_session_path)  %>
</li>
  <li><%= link_to('Login As Job Provider', new_employer_session_path)  %></li>
  <% end %>

  </body>
</html>
